<div class="ui-layout-west">
	<ul class="uk-nav uk-nav-side">
		<li class="uk-active"><a href="#"><i class="uk-icon-user uk-icon-justify"></i> 文章管理</a></li>
		<li class="uk-nav-divider"></li>
		<li><a href="#"><i class="uk-icon-user uk-icon-justify"></i> 栏目管理</a></li>
		<li class="uk-nav-divider"></li>
		<li><a href="#"><i class="uk-icon-user uk-icon-justify"></i> 文章管理</a></li>
		<li class="uk-nav-divider"></li>
		<li><a href="#"><i class="uk-icon-user uk-icon-justify"></i> 网站设置</a></li>
		<li class="uk-nav-divider"></li>
		<li><a href="#"><i class="uk-icon-user uk-icon-justify"></i> 缓存管理</a></li>
		<li class="uk-nav-divider"></li>
		<li><a href="#"><i class="uk-icon-user uk-icon-justify"></i> 用户管理</a></li>
	</ul>
</div>